*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.descibe{
  width: 100%;
  height: 100vh;
    background-color: #37464f;
    color: aliceblue;
    
}
p{

  text-align: justify;
}

.title-desc{
  padding-top: 5%;
  padding-left: 20px;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-size: xx-large;
  
}
.p-desc{
  padding-top: 20px;
  padding-left: 40px;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-size: larger;

}
.menu{
  width: 400px;
  height: 100vh;
  background-color: #101f27;
  position: fixed;
}

ul{
  list-style-type: none;
 padding-left: 7%;
 padding-top: 20%;
 line-height: 1.6;
  font-size: 16px;
  color: coral;
  }
  ul a{
   color: coral;
   content-visibility: auto;
   text-decoration: none;
   transition-duration: 800ms;

  }


  ul a:hover{
    background-color: #37464f;
  }
  ul:visited{
   color: antiquewhite;
  }
#sub-menu{
  padding-left: 6%;
  padding-top: 0%;
  color: coral;
}
