*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.entire{
width: 100%;
height: 100vh;
background-color: #37474f;
}

.sidebar{
  width: 400px;
  height: 100%;
  background-color: #101f27;
}

ul{
 padding-left: 7%;
 padding-top: 20%;
 line-height: 1.6;
  font-size: 16px;
  color: coral;
  }
  ul a{
   color: coral;
   content-visibility: auto;
   text-decoration: none;
   transition-duration: 800ms;

  }
  ul a:hover{
    background-color: #37464f

    ;
   
  }
#sub-menu{
  padding-left: 6%;
  padding-top: 0%;
  color: coral;
}
